.text-input {
    margin: 16px 0;
    text-align: center;
    max-width: 100%;
    width: 360px;
    line-height: 150%;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    color: #eaeaea;
    border: 1px solid #eaeaea;
    border-radius: 24px;
    outline: none;
    padding: 12px;
}

.text-input::placeholder {
    color: #eaeaea;
}